<div class="col-xs-6 col-xs-offset-3">
  <div class="row">
    <button class="btn btn-info col-xs-6" ng-click="setLoginContainer()">Login</button>
    <button class="btn btn-success col-xs-6" ng-click="setRegisterContainer()">Register</button>
  </div>
  <div class="row"> 
    <form ng-show="loginContainer">
      <div class="form-group">
        <label>Email Adress</label>
        <input type="email" class="col-xs-offset-1 col-xs-10" placeholder="Email address" ng-model="login.email" required autofocus>

      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="col-xs-offset-1 col-xs-10" placeholder="Password" ng-model="login.password" required autofocus>

      </div>

      <div class="form-group">
        <a href class="btn btn-lg success col-xs-offset-1 col-xs-10" ng-click="loginUser(login)">Submit Login</a>

      </div>
    </form>   
    <form ng-show="registerContainer">

      <div class="form-group">
        <label>Email Adress</label>
        <input type="email" class="col-xs-offset-1 col-xs-10" placeholder="Email address" ng-model="register.email" required autofocus>

      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="col-xs-offset-1 col-xs-10" placeholder="Password" ng-model="register.password" required autofocus>

      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="type" class="col-xs-offset-1 col-xs-10" placeholder="Username" ng-model="register.username" required autofocus>

      </div>

      <div class="form-group">
        <a href class="btn btn-lg success col-xs-offset-1 col-xs-10" ng-click="registerUser(register)">Submit Registration</a>

      </div>

    </form>
  </div>
 </div>




<!-- <div class="p-x-1 p-y-3">
  <form class="card card-block m-x-auto bg-inverse" style="max-width: 25rem">
    <legend class="m-b-1 text-xs-center">Sign up or Register</legend>
    <div class="form-group input-group">
      <span class="has-float-label">
        <input class="form-control" id="playerName" type="text" placeholder="Player Name"/>
        <label for="playerName">Player Name</label>
      </span>
      <span class="has-float-label">
        <input class="form-control" id="number" type="text" placeholder="Number"/>
        <label for="number">Number</label>
      </span>
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon">@</span>
      <span class="has-float-label">
        <input class="form-control" id="email" type="email" placeholder="box@example.com"/>
        <label for="email">Email</label>
      </span>
    </div>
    <div class="form-group has-float-label">
      <input class="form-control" id="password" type="password" placeholder="••••••••"/>
      <label for="password">Password</label>
    </div> -->