<div class="container">
	<div class="row">
		<div>
			<div class="col-md-2">
				<h3>Study the play</h3>
				<img src="/img/study.png">
			</div>	
			<div class="col-md-2">
				<h3></h3>
				<br>
				<img src="/img/arrow.png">
			</div>
			<div class="col-md-2">
				<h3>Take the quiz</h3>
				<img src="/img/takeQuiz.png">
			</div>
			<div class="col-md-2">
				<h3></h3>
				<br>
				<img src="/img/arrow.png">
			</div>
			<div class="col-md-2">
				<h3>Go play!</h3>
				<div>
					<img src="/img/runningMan.gif">
				</div>
			</div>
			<div class="col-md-2">
				<h3></h3>
				<!-- <img src="/img/arrow.png"> -->
			</div>
		</div>	
	</div>
</div>
<a ng href="#/playbook"><button class="btn btn-success col-md-12 instructions">Enter the testing area</button></a>