
<div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="/img/study.png">
      <h2>Study the play</h2>
      <p>Read over the play for your position, then enter the testing area.</p>
      <p><a class="btn btn-default" ng href="#/playbook">Review Play »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="/img/takeQuiz.png">
      <h2>Take the quiz</h2>
      <p>After you ace the quiz for your position, you're ready to go!</p>
      <p><a class="btn btn-default" ng href="#/quiz">Test now »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="/img/runningMan.gif">
      <h2>Playball!</h2>
      <p>You now have the skills to master your position.</p>
      <p><a class="btn btn-default" ng href="#/scores">check scores »</a></p>
    </div>
  </div><!-- /.row -->

<a ng href="#/playbook"><button class="btn btn-success col-md-12 instructions">Enter the testing area</button></a>