<!-- <div class="container"> -->
	<nav class="navbar navbar-inverse">
		<!-- <div class="navbar"> -->
			<a class="navbar-brand" href="#"><img class="logoSm" src="img/yfcaLogoSm.png"></a>
			<a class="navbar-brand navbar-right" href="#/edit-user" data-toggle="modal" data-target="#myModal1">Edit User Profile</a>
			<a class="navbar-brand navbar-right" href="#/roster" data-toggle="modal" data-target="#myModal">Roster</a>
			<a class="navbar-brand navbar-right" href="#/scores" data-toggle="modal" data-target="#myModal1">Player Scores</a>
			<a class="navbar-brand navbar-right" href="#/quiz" data-toggle="modal" data-target="#myModal1">Quiz</a>
			<a class="navbar-brand navbar-right" href="#/playbook" data-toggle="modal" data-target="#myModal1">Playbook</a>
		<!-- </div> -->
	</nav>
	
<!-- </div> -->
