<div class="col-xs-offset-2 col-xs-8">
	<img src="img/play1.png">
</div>

<button class="btn btn-invers btn-lg" data-toggle="modal" data-target="#myModal">
	Take the quiz
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Player Quiz</h4>
			</div>
			<div class="modal-body">
				<div>What is your responsibility for this play?
					<ul>
						<li><a href="#">A. Answer 1</a></li>
						<li><a href="#">B. Answer 2</a></li>
						<li><a href="#">C. Answer 3</a></li>
					</ul>
				</div>
				<div>What is your responsibility for this play?
					<ul>
						<li><a href="#">A. Answer 1</a></li>
						<li><a href="#">B. Answer 2</a></li>
						<li><a href="#">C. Answer 3</a></li>
					</ul>
				</div>
				<div>What is your responsibility for this play?
					<ul>
						<li><a href="#">A. Answer 1</a></li>
						<li><a href="#">B. Answer 2</a></li>
						<li><a href="#">C. Answer 3</a></li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Submit QUiz</button>
			</div>
		</div>
	</div>
</div>