<div class="container">

	<div class="row">
		<div class="col-md-6">
			<img class="play" src="img/Play1.jpg">
		</div>
		<div class="col-md-6">
			<h3>QB: Passes the ball to the RB</h3>
			<h3>RB: Runs a deep route</h3>
			<h3>TE: Runs a jet sweep route</h3>
			<h3>WR: Down field blocking</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="play" src="img/Play2.jpg">
		</div>
		<div class="col-md-6">
			<h3>QB: Passes the ball to the RB</h3>
			<h3>RB: Runs a deep route</h3>
			<h3>TE: Runs a jet sweep route</h3>
			<h3>WR: Down field blocking</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<img class="play" src="img/Play1.jpg">
		</div>
		<div class="col-md-6">
			<h3>QB: Passes the ball to the RB</h3>
			<h3>RB: Runs a deep route</h3>
			<h3>TE: Runs a jet sweep route</h3>
			<h3>WR: Down field blocking</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<img class="play" src="img/Play2.jpg">
		</div>
		<div class="col-md-6">
			<h3>QB: Passes the ball to the RB</h3>
			<h3>RB: Runs a deep route</h3>
			<h3>TE: Runs a jet sweep route</h3>
			<h3>WR: Down field blocking</h3>
		</div>
	</div>
</div>


<a ng-href="#/quiz">
	<button class="btn btn-inverse col-md-12" >
		Take the quiz
	</button></a>




