<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Choose your position</h3>
			<span ng-click="trial('qb')" class="label label-default">QB</span>
			<span ng-click="trial('rb')" class="label label-default">RB</span>
			<span ng-click="trial('te')" class="label label-default">TE</span>
			<span ng-click="trial('wr')" class="label label-default">WR</span>
		</div>
	</div>
</div>

<div class="QB_quiz" ng-show="QB_quiz">
	<h3>What is your responsibility for QB?</h3>

<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> A. Hand off to the RB
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> B. Pass to the RB
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> C. Fumble on purpose
	</label>
</div>

<div class="RB_quiz" ng-show="RB_quiz">
	<h3>What is your responsibility for RB?</h3>

<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> A. Run through the 2 gap
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> B. Run through the 4 gap
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> C. Kick the ball
	</label>
</div>

<div class="TE_quiz" ng-show="TE_quiz">
	<h3>What is your responsibility for TE?</h3>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> A. Run a post route
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> B. Run a slant route
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> C. Run to the locker room
	</label>
</div>

<div class="WR_quiz" ng-show="WR_quiz">
	<h3>What is your responsibility for WR?</h3>

<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> A. Block for a wide receiver screen
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> B. run a deep route
	</label>
	<label class="btn btn-success col-md-12 answer">
		<input type="radio" name="options" id="option2" autocomplete="off"> C. Grab the ref's wistle
	</label>
</div>


<hr>
<button type="button" class="btn btn-primary">Submit QUiz</button>