<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Choose your position</h3>
			<span ng-click="trial('qb')" class="label label-default">QB</span>
			<span ng-click="trial('rb')" class="label label-default">RB</span>
			<span ng-click="trial('te')" class="label label-default">TE</span>
			<span ng-click="trial('wr')" class="label label-default">WR</span>
		</div>
	</div>
</div>

<div class="QB_quiz" ng-show="QB_quiz">
	<h3>What is your responsibility for QB?</h3>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Answers
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">A. Answer 1</a></li>
			<li><a href="#">B. Answer 2</a></li>
			<li><a href="#">C. Answer 3</a></li>
		</ul>
	</div>
</div>

<div class="RB_quiz" ng-show="RB_quiz">
	<h3>What is your responsibility for RB?</h3>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Answers
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">A. Answer 1</a></li>
			<li><a href="#">B. Answer 2</a></li>
			<li><a href="#">C. Answer 3</a></li>
		</ul>
	</div>
</div>

<div class="TE_quiz" ng-show="TE_quiz">
	<h3>What is your responsibility for TE?</h3>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Answers
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">A. Answer 1</a></li>
			<li><a href="#">B. Answer 2</a></li>
			<li><a href="#">C. Answer 3</a></li>
		</ul>
	</div>
</div>

<div class="WR_quiz" ng-show="WR_quiz">
	<h3>What is your responsibility for WR?</h3>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Answers
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">A. Answer 1</a></li>
			<li><a href="#">B. Answer 2</a></li>
			<li><a href="#">C. Answer 3</a></li>
		</ul>
	</div>
</div>


<hr>
<button type="button" class="btn btn-primary">Submit QUiz</button>