body {
  background-image: url("../img/burntFb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.legend {
  color: white; }

.answer {
  margin: 0 0 15px 0; }

.boxed {
  border: 1px solid black;
  padding: 10px;
  margin: 10px; }

.loginBtn {
  margin-bottom: 10px; }

input {
  border: 3px solid #333; }

.loginBtn {
  border: 3px solid #333; }

.logo {
  margin: auto; }

.logoSm {
  margin-top: -10px; }

.play {
  margin-bottom: 15px; }
